/*  your css code here. If applicable */
#yellow{
	background-color : yellow ;
	
   border-top-width :1px ;
border-left-width :1px ;
border-right-width :1px ;
border-bottom-width :1px ;
	border-top :  solid  green ;
	border-left :  solid green ;
	border-right :  solid green ;
	border-bottom :  solid green ;
}
#red{
	background-color : red ;

	border-top-width :1px ;
border-left-width :1px ;
border-right-width :1px ;
border-bottom-width :1px ;
	border-top : solid  black ;
	border-left : solid black ;
	border-right : solid black ;
	border-bottom : solid black ;
}
#green{
	background-color : green ;

	border-top-width :1px ;
border-left-width :1px ;
border-right-width :1px ;
border-bottom-width :1px ;
	border-top : solid yellow;
	border-left : solid yellow ;
	border-right : solid yellow;
	border-bottom : solid yellow ;
}