/*  your css code here. If applicable */
#yellow{
	background-color : yellow ;
	
	
   border-top-width :1px ;
border-left-width :1px ;
border-right-width :1px ;
border-bottom-width :1px ;
	border-top :    green ;
	border-left :  green ;
	border-right :   green ;
	border-bottom :   green ;
	border-top-style : solid;
	border-left-style : solid;
	border-right-style  : solid;
	border-bottom-style : solid;
	
}
#red{
	background-color : red ;

	border-top-width :1px ;
border-left-width :1px ;
border-right-width :1px ;
border-bottom-width :1px ;
	border-top :   black ;
	border-left :  black ;
	border-right : black ;
	border-bottom : black ;
	border-top-style : solid;
	border-left-style : solid;
	border-right-style  : solid;
	border-bottom-style : solid;
}
#green{
	background-color : green ;

	border-top-width :1px ;
border-left-width :1px ;
border-right-width :1px ;
border-bottom-width :1px ;
	border-top :  yellow;
	border-left :  yellow ;
	border-right : yellow;
	border-bottom :  yellow ;
	border-top-style : solid;
	border-left-style : solid;
	border-right-style  : solid;
	border-bottom-style : solid;
}